@import url(//fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(//fonts.googleapis.com/css?family=Cormorant+Garamond);

body {
    margin:0;
    padding:0;
    font-family: "Cormorant Garamond", serif;
    background-color: #000000;
    color:#ffffff;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Cormorant Garamond', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#ffffff;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#050A30;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0 0 0 10px;
   padding:10px 0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#000000;
    color:#ffffff;
    padding:15px 100px;
    overflow:auto;
}

.cart i {
    color: #a259ff;
    text-shadow: 0 0 5px rgba(255, 77, 79, 0.6);
  }
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .cart i.animate {
    animation: pulse 1.5s infinite;
  }
  
#header .logo {
    font-family: "Luckiest Guy", sans-serif;
    float:left;
    color:#ffffff;
    font-size:35px;
    font-weight:bold;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
    font-size: large;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

/* General Layout Reset */
.categories-section,
.products-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Category Cards */
.categories-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.category-card {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    width: 200px;
    height: 240px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
  }
  .category-overlay {
    background: rgba(0, 0, 0, 0.5); /* semi-transparent dark overlay */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .category-card a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }

.category-card:hover {
    transform: translateY(-5px);
  }

.category-name {
    font-weight: bold;
    font-size: 14px;
    margin-top: 4px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: "Luckiest Guy", sans-serif; font-weight:bold;
}

/* Bottom label */
.category-label {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* You can change to any solid color */
    width: 100%;
    padding: 10px;
    text-align: center;
  }

.category-card.selected a {
  color: white;
}

/* Product Cards */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: start;
  margin-top: 20px;
}

.product-card {
  background: #1e1e1e;
  border-radius: 16px;
  padding: 25px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 15px 0 10px;
  font-size: 26px;
  color: white;
}

.product-card p {
  color: #ccc;
  font-size: 24px;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card:hover {
  background-color: #2a2a2a;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#ffffff;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    border-radius: 16px;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#3E160C;
    padding:10px 20px;
    color:#ffffff;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.scroll-container {
    padding-bottom: 1rem;
  }
  
  .custom-card {
    min-width: 300px;
    max-width: 300px;
    border-radius: 1rem;
    padding: 1rem;
    flex-shrink: 0;
  }
  
  .card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .thumb-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
  }
  
  .bg-purple {
    background-color: #a259ff;
  }

  .carousel {
    width: 100vw;
    margin-bottom: 4rem;
  }
  
  .carousel-item {
    position: relative;
    height: auto;
  }
  
  .carousel-item img {
    width: 100%;
    height: 32rem;
    object-fit: cover;
  }
  
  .caption-below {
    color: #fff;
    padding: 3rem 2rem;
    font-family: "Luckiest Guy", sans-serif;
    font-size: larger;
  }
  h8 {
    font-family: "Luckiest Guy", sans-serif; font-weight:bold;
}
  p1{
    font-family: "Luckiest Guy", sans-serif; font-weight:normal;
}

  