{% extends "shop/base.html" %}

{% block title %}M-Pesa Payment{% endblock %}

{% block content %}
  <h1>Waiting for M-Pesa payment...</h1>
  <p>Please complete the payment on your phone. Once done, we will process your order.</p>
  
  <script>
    function checkPaymentStatus() {
      fetch("{% url 'payment:check_status' %}")
        .then(response => response.json())
        .then(data => {
          if (data.paid) {
            window.location.href = "{% url 'payment:completed' %}";
          }
        });
    }
  
    setInterval(checkPaymentStatus, 5000);  // Check every 5 seconds
  </script>
  
{% endblock %}
